:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

$color-bg: #002b56;

header,
footer {
  height: 4rem;
  background-color: $color-bg;
  color: invert($color: $color-bg);
  display: flex;
  flex-shrink: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}
