@use "@angular/material" as mat;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.dialog-overrides(
    (
      // container-max-width: 800px,
      container-min-width: 600px,
      // container-small-max-width: 80%,
    )
  );
}
