@use "@angular/material" as mat;

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  min-width: 360px;
}

.dkv-center-page-positioning {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// -- Angular Material --

:root {
  @include mat.dialog-overrides(
    (
      container-min-width: 37.5rem,
    )
  );
}

@media screen and (max-width: 700px) {
  :root {
    @include mat.dialog-overrides(
      (
        container-min-width: 17.5rem,
      )
    );
  }
}
