<div class="dkv-home-content">
  <div class="dkv-add-card w-100 d-flex my-4 dkv-content-spacer">
    <button class="btn btn-primary me-3" (click)="addCard()">
      Add new card
    </button>
  </div>
  <div class="dkv-cards dkv-content-spacer">
    @for(car of cars$ | async; track car.id ){
    <div class="card dkv-card" (click)="showDetails(car)">
      <img
        src="/three_cars.png"
        class="card-img-top dkv-card-image"
        alt="vehicle-card"
      />
      <div class="card-body">
        <h5 class="card-title">{{ car.name }}</h5>
        <p class="card-text">Model: {{ car.model }}</p>
        <p class="card-text">Manufacturer: {{ car.manufacturer }}</p>
        @if(car.mileage) {
        <p class="card-text">Mileage: {{ car.mileage }}</p>
        }
        <a class="btn btn-light dkv-btn-more">more</a>
      </div>
    </div>
    }
  </div>
</div>
