@use "../variables" as vars;

@mixin cards-template-cols($max-size) {
  grid-template-columns: repeat(auto-fill, minmax(18rem, $max-size));
}

.dkv-home-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.dkv-cards-grid-container,
.dkv-add-card-btn {
  margin-block-start: vars.$dkv-vertical-space;
  padding-inline: vars.$dkv-horizontal-space;

  &:last-child {
    padding-block-end: vars.$dkv-vertical-space;
  }
}

.dkv-cards-grid {
  @include cards-template-cols(30rem);
  display: grid;
  width: 100%;
  grid-template-rows: max-content;
  grid-gap: vars.$dkv-vertical-space;
  justify-content: center;
}

.dkv-add-card-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dkv-card-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  opacity: 0.85;
}

.dkv-card-title {
  color: vars.$dkv-primary-color;
}

.dkv-card {
  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: transform 250ms;
    transition-timing-function: ease-out;

    .dkv-btn-more {
      display: flex;
    }

    .dkv-card-image {
      opacity: 1;
    }
  }
}

.dkv-btn-more {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

@media screen and (max-width: 700px) {
  .dkv-cards-grid-container,
  .dkv-add-card-btn {
    padding-inline: vars.$dkv-horizontal-space-sm;
  }
}

@media screen and (max-width: 1120px) {
  .dkv-cards-grid {
    @include cards-template-cols(25rem);
  }
}

@media screen and (max-width: 960px) {
  .dkv-cards-grid {
    @include cards-template-cols(1fr);
  }
}
