<h2 mat-dialog-title>Create new card</h2>

<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    @if(showError$ | async) {
    <div class="alert alert-danger d-flex justify-content-between" role="alert">
      There was an error in saving. Try again.
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closeAlert()"
      ></button>
    </div>
    }
    <div class="mb-3">
      <label for="name" class="form-label">Name*</label>
      <input
        #name
        formControlName="name"
        type="text"
        class="form-control"
        id="name"
        placeholder="Name"
      />
    </div>
    <div class="mb-3">
      <label for="model" class="form-label">Model*</label>
      <input
        formControlName="model"
        type="text"
        class="form-control"
        id="model"
        placeholder="Car model"
      />
    </div>
    <div class="mb-3">
      <label for="fuel" class="form-label">Fuel*</label>
      <input
        formControlName="fuel"
        type="text"
        class="form-control"
        id="fuel"
        placeholder="Fuel type"
      />
    </div>

    <div class="mb-3">
      <label for="manufacturer" class="form-label">Manufacturer*</label>
      <input
        formControlName="manufacturer"
        type="text"
        class="form-control"
        id="manufacturer"
        placeholder="Manufacturer"
      />
    </div>
    <div class="mb-3">
      <label for="vin" class="form-label">VIN*</label>
      <input
        formControlName="vin"
        type="text"
        class="form-control"
        id="vin"
        placeholder="VIN number"
      />
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type*</label>
      <input
        formControlName="type"
        type="text"
        class="form-control"
        id="type"
        placeholder="Car type"
      />
    </div>
    <div class="mb-3">
      <label for="meleage" class="form-label">Mileage</label>
      <input
        formControlName="mileage"
        type="text"
        class="form-control"
        id="meleage"
        placeholder="Mileage"
      />
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">Color</label>
      <input
        formControlName="color"
        type="text"
        class="form-control"
        id="color"
        placeholder="Car's color"
      />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Save</button>
  </mat-dialog-actions>
</form>
